.main_div {
  background-color: #003366;
  color: #fff;
  height: 100vh;
}

.centerForm {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 25%;
}

.login {
  margin-bottom: 2%;
}

.login > label {
  display: block;
  font-size: 14px;
  color: #a9a9a9;
  text-align: center;
}

.login > input {
  padding: 4% 0;
  border: 0.5px solid #a9a9a9;
  background-color: #003366;
  width: 100%;
  margin-bottom: 10px;
}

.centerForm > h1 {
  text-align: center;
}

.centerForm > span > label,
.centerForm > span > a {
  /* border: 0.5px solid #a9a9a9; */
  font-size: 14px;
  color: #a9a9a9;
}

a {
  float: right;
  text-decoration: none;
}

.centerForm > span > input {
  border: 0.5px solid #a9a9a9;
  background-color: #003366;
}

.active_class {
  background-color: #fff;
  color: #003388;
  padding: 1% 3%;
  justify-items: center;
  margin-left: 30%;
  margin-top: 10%;
  padding: 2% 12%;
  font-weight: 700;
  font-size: 20px;
  transition: transform 400ms;
}
